/* Addproduct.css */
.add-product-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-product-container h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: darkseagreen;
  }
  
  .add-product-container form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: darkseagreen;
  }
  
  .add-product-container form input[type="text"],
  .add-product-container form input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: darkseagreen;
  }
  
  .add-product-container form button {
    width: 100%;
    padding: 12px;
    background-color: darkseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add-product-container form button:hover {
    background-color: darkslategray;
  }
  